body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
  background-color: black;
}

.elements-holder {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.elements {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  perspective: 100px;
  font-family: "Fredericka the Great", serif;
  font-weight: 200;
  font-style: normal;
}

.el {
  display: grid;
  place-items: center;
  /* border: 1px solid green; */
  /* padding: 16px; */
  color: rgb(175, 175, 175);
  font-size: 3rem;
  padding-bottom: 2rem;
  letter-spacing: 2rem;
  /* width: 25px; */
  height: 25px;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  /* animation: move 1s linear infinite alternate; */
}

@keyframes move {
  0% {
    transform: translateZ(0px);
  }
  100% {
    transform: translateZ(2px);
  }
}

.el:hover {
  /* background-color: rgb(171, 171, 171);; */
  cursor: pointer;
  /* transform: scale(1.5); */
  transition: all 0.1s ease-in;
}